<app-slider></app-slider>
<section class="featured-services">
    <div class="container">

        <div class="row gy-4 cursos-destacados">
            <div>
                <h1>Cursos destacados</h1>
            </div>
            <div class="col-lg-4 col-md-6 service-item d-flex" *ngFor="let curso of cursos">
                <div>
                    <h4 class="title">{{curso.titulo}}</h4>
                    <p class="description">{{ curso.descripcion}}</p>
                    <p class="description">valoración: <b>{{ curso.valoracionMedia }}/5</b> / actualizado: {{ curso.fechaActualizacion }}</p>
                    <a [routerLink]="['/curso', curso.id]" class="readmore stretched-link"><span>Detalle</span><i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="featured-services">
    <div class="container">

        <div class="row gy-4 cursos-opiniones">
            <div>
                <h1>Opiniones</h1>
            </div>
            <div class="col-lg-4 col-md-6 service-item d-flex" *ngFor="let valoracion of opiniones">
                <div>
                    <h4 class="title">{{ valoracion.estudiante.nombre}}</h4>
                    <p class="description">valoracion: {{ valoracion.puntuacion }}</p>
                    <p class="description">{{ valoracion.comentario }}</p>
                    <a href="#" class="readmore stretched-link"><span>Detalle</span><i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="featured-services">
    <div class="container">

        <div class="row gy-4 cursos-actualizaciones">
            <div>
                <h1>Últimas actualizaciones</h1>
            </div>
            <div class="col-lg-4 col-md-6 service-item d-flex" *ngFor="let actualizacion of actualizaciones">
                <div>
                    <p class="description">actualizado: <b>{{ actualizacion.fechaActualizacion }}</b></p>
                    <h4 class="title">{{actualizacion.titulo}} </h4>
                    <p class="description">{{  actualizacion.descripcion }}</p>
                    <a [routerLink]="['/curso', actualizacion.id]" class="readmore stretched-link"><span>Detalle</span><i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>